{% extends "base.html" %}

{% block content %}

                <div class="container-fluid">
                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Transaction History</h1>
                    
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <!--<h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>-->
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <div class="container">
                                    <form  method="POST" >
                                        <div class="row">
                                            <div class="col-5">
                                                <div class="form-group">
                                                    <label for="categoryName">Name</label>
                                                    <input type="text" class="form-control" id="title"  placeholder="Enter Name" required name="name">
                                                </div>
                                            </div>
                                            <div class="col-5">
                                                <div class="form-group">
                                                    <label for="categoryName">Phone Number</label>
                                                    <input type="text" class="form-control" id="title"  placeholder="Enter Phone Number" required name="phn_no">
                                                </div>
                                            </div>
                                            <div class="col-2">
                                                <div class="form-group">
                                                    <label for="categoryName">PIN Number</label>
                                                    <input type="text" class="form-control" id="title"  placeholder="Enter PIN" required name="pin">
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label for="categoryName">Card Number</label>
                                                    <input type="text" class="form-control" id="title"  placeholder="0000 0000 0000 0000" required name="card_no">
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label for="categoryName">Expiry Date</label>
                                                    <input type="text" class="form-control" id="title"  placeholder="MM/YY" required name="exp_date">
                                                </div>
                                            </div>
                                            <div class="col-2"><div class="form-group">
                                                <label for="categoryName">CVV</label>
                                                <input type="text" class="form-control" id="title"  placeholder="Enter CVV" required name="cvv_no">
                                            </div></div>
                                        </div>
                                        
                                        
                                        
                                        <div class="col-12">
                                            <button type="submit" class="btn btn-primary" >Add Card</button>
                                        </div>
                                        
                                    </form>
                                </div>


                               
                            </br></br>

                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>NAME</th>
                                        <th>PIN</th>
                                        <th>CARD NUMBER</th>
                                        <th>CVV NUMBER</th>
                                        <th>EXPIRY DATE</th>
                                        <th>PHONE NUMBER</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Id</th>
                                        <th>NAME</th>
                                        <th>PIN</th>
                                        <th>CARD NUMBER</th>
                                        <th>CVV NUMBER</th>
                                        <th>EXPIRY DATE</th>
                                        <th>PHONE NUMBER</th>
                                    </tr>
                                </tfoot>
                                
                                <tbody>
                                    {% for new_card in new_card  %}
                                    <tr>
                                    <td> {{ new_card.id }} </td>
                                    <td> {{ new_card.name }} </td>
                                    <td> {{ new_card.pin }} </td>
                                    <td> {{ new_card.card_no }} </td>
                                    <td> {{ new_card.cvv_no }} </td>
                                    <td> {{ new_card.exp_date }} </td>
                                    <td> {{ new_card.phn_no }} </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

{% endblock %}
        



